body {
    margin: 0;
    padding: 0;
}

#search {
    z-index: 99999;
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#mapContainer {
                width: 400px; /* 幅を400pxに指定 */
                height: 300px; /* 高さを300pxに指定 */
                background-color: #e0e0e0; /* 背景色を指定（オプション） */
            }